* {
  margin: 0;
  padding: 0;
}

.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 400;
  letter-spacing: 15px;
  font-style: normal;
}

.roboto-uniquifier1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-uniquifier2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  color: #b3b4c1;
}

#home {
  background-image: url(../assets/images/home_background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#navigation {
  height: 8vh;
  background-color: #1c222c;
}

nav {
  padding-right: 20px;
  display: flex;
  height: 100%;
  justify-content: end;
  align-items: center;
  gap: 25px;
}

.option,
footer > p {
  font-size: 1.3em;
  text-decoration: none;
  color: #b3b4c1;
  padding: 7px;
}

.option:hover {
  background-color: #b3b4c1;
  color: black;
}

#contact-me {
  font-size: 1.5em;
  padding: 7px 14px;
  color: #2291c2;
  border-color: #2291c2;
  border-width: 1px;
  box-shadow: 2 px;
  background-color: transparent;
}

#home > div {
  display: flex;
  height: 92vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#author {
  width: 35rem;
}

h1 {
  font-size: 6rem;
  color: #1da8e5;
  letter-spacing: 1rem;
}

#home-text {
  font-size: 2.6rem;
  letter-spacing: 6px;
  font-weight: 400;
}

@media (max-width: 1850px) {
  h1 {
    font-size: 4rem;
  }
  #home-text {
    font-size: 1.9rem;
  }
  #author {
    width: 25rem;
  }
  .option,
  footer > p {
    font-size: 1.1rem;
  }
  #contact-me {
    font-size: 1.2em;
  }
  #navigation {
    height: 7vh;
  }
}

@media (max-width: 2257px) {
  h1 {
    font-size: 5rem;
  }
  #home-text {
    font-size: 1.9rem;
  }
  #author {
    width: 30rem;
  }
}

@media (max-width: 1468px) {
}
