#open-source-container {
  background-color: #1c222c;
  padding: 100px;
}

#open-source-container > h2 {
  font-size: 2.7rem;
  text-align: center;
}

#outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

#video-background {
  display: grid;
  grid-template-columns: 10px 40px 2.5fr 2fr 2.5fr 40px 10px;
  grid-template-rows: 10px 40px 2.5fr 1fr 2.5fr 40px 10px;
}

#top1 {
  background-color: #757f8b;
  grid-area: 1 / 1 / 2 / 4;
}

#top2 {
  background-color: #757f8b;
  grid-area: 2 / 1 / 4 / 2;
}

#top3 {
  background-color: #757f8b;
  grid-area: 7 / 5 / 8 / 8;
}

#top4 {
  background-color: #757f8b;
  grid-area: 5 / 7 / 7 / 8;
}

video {
  width: 1210px;
  grid-area: 3 / 3 / 6 / 6;
}

#inner {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#inner a {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #eceff1;
}

@media (max-width: 1850px) {
  #open-source-container {
    padding: 70px;
  }

  #open-source-container > h2 {
    font-size: 2.3rem;
  }
  #inner a {
    font-size: 1.3rem;
  }
}

@media (max-width: 1667px) {
  #open-source-container > h2 {
    font-size: 2rem;
  }
  #inner a {
    font-size: 1.2rem;
  }
  video {
    width: 1200px;
  }
}

@media (max-width: 1445px) {
  video {
    width: 1000px;
  }
}

@media (max-width: 1248px) {
  video {
    width: 820px;
  }
}
@media (max-width: 1000px) {
  #video-background {
    display: grid;
    grid-template-columns: 2px 13px 2.5fr 2fr 2.5fr 13px 2px;
    grid-template-rows: 2px 13px 2.5fr 1fr 2.5fr 13px 2px;
  }
  video {
    width: 600px;
  }
  #open-source-container {
    padding: 40px;
  }
  #inner a {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  video {
    width: 400px;
  }
  #open-source-container {
    padding: 40px;
  }
  #open-source-container > h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 560px) {
  #video-background {
    display: grid;
    grid-template-columns: 2px 13px 2.5fr 2fr 2.5fr 13px 2px;
    grid-template-rows: 2px 13px 2.5fr 1fr 2.5fr 13px 2px;
  }
  video {
    width: 70vw;
  }
  #open-source-container {
    padding: 30px;
  }
  #open-source-container > h2 {
    font-size: 1.3rem;
  }
  #inner a {
    font-size: 0.5rem;
  }
}
