#technologies {
  background-image: url(../assets/images/technology_background.png);
  background-size: cover;
  padding: 90px;
  background-position: center;
}

#tecnology-wide-container > h2 {
  font-size: 2.7rem;
  text-align: center;
}

#tec-container {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 700;
}

#tecnology-wide-container img {
  float: left;
  width: 600px;
  margin-right: 100px;
}

.knowledge {
  border-radius: 20px;
  width: 600px;
  height: 20px;
  background-color: #b9b9b9;
}

.progressa-bar {
  border-radius: inherit;
  height: 20px;
  background-color: #152842;
}

#html {
  width: 75%;
}

#css {
  width: 65%;
}

#bootstrap {
  width: 25%;
}

#javascript {
  width: 10%;
}

#react {
  width: 4%;
}

#nodejs {
  width: 2%;
}

#php {
  width: 2%;
}

#python {
  width: 25%;
}

@media (max-width: 1850px) {
  #tecnology-wide-container img {
    width: 500px;
    margin-right: 70px;
  }
  #tecnology-wide-container > h2 {
    font-size: 2.3rem;
  }
  .knowledge {
    width: 500px;
  }

  #tec-container {
    font-size: 1.2em;
  }
  #technologies {
    padding: 70px;
  }
}
